.navbar {
  background: #000;
}

.banner {
  height: 50px;
  margin-bottom: 20px;
}

body {
  background: #222;
}

input.form-control {
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

img {
  position: relative;
}

.imgBox { 
  max-width: 400px;
  position: relative;
  float: left;
  margin: 5px;
}

.gifInfo {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  opacity: 0;
}

.imgBox:hover .gifInfo {
  opacity: 1;
  transition: all .2s ease-in-out;
} 

.gif-btn {
  background: #4f606d;
  border: none;
  padding: 0 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  outline: none;
}

.gif-btn:hover {
  background: #38c3f9;
}

.gif-btn:focus, .gif-btn:active {
  box-shadow: none;
}

@media (min-width: 1300px) {
.container {
  max-width: 1280px;
}
}
